---
- name: Setting hostname
  shell: "hostnamectl set-hostname {{ inventory_hostname }}"

- name: Uploading hosts file
  template:
      src: hosts.j2
      dest: /etc/hosts
      owner: root
      group: root
      mode: 0644
