#
# Managed by ansible
#
127.0.0.1       localhost.localdomain   localhost
::1             localhost.localdomain   localhost

{% for host in groups.gluster_cluster %}
{{ hostvars[host].ansible_ssh_host }}   {{ host }}
{% endfor %}

192.168.33.10   client.example.lan
192.168.33.10   storage.example.lan
