#
# Managed by ansible
# Role: gluster-cluster
#

vrrp_instance glusterstorage {
    state BACKUP

    interface eth1
    virtual_router_id 5

    priority 100

    advert_int 1
    authentication {
        auth_type PASS
        auth_pass aSuperCoolPassword
    }

    virtual_ipaddress {
        192.168.33.10/24
    }
}
