#
# Managed by ansible
# Role: gluster-cluster
#

vrrp_instance glusterstorage {
    {% if inventory_hostname == "gluster1.example.lan" %}
    state MASTER
    {% else %}
    state BACKUP
    {% endif %}

    interface eth1
    virtual_router_id 5

    {% if inventory_hostname == "gluster1.example.lan" %}
    priority 100
    {% else %}
    priority 10
    {% endif %}

    advert_int 1
    authentication {
        auth_type PASS
        auth_pass aSuperCoolPassword
    }

    virtual_ipaddress {
        192.168.33.10/24
    }
}
